html {
  height: 100%;
  width: 100%;
}

body {
  margin: 0; /*デフォルト値(8px)をリセット*/
}

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

a {
  text-decoration: none;
  color: #000;
}

p {
  margin: 0;
}

.input-smallest {
  /* iOSでは16px未満でinputが拡大されてしまうため */
  font-size: 16px;
}

div {
  -ms-overflow-style: none; /* IE, Edge スクロールバー非表示 */
  scrollbar-width: none; /* Firefox スクロールバー非表示 */
  box-sizing: border-box; /* 要素幅にpaddingおよびborderを含める */
}

div::-webkit-scrollbar {
  display: none; /* Chrome スクロールバー非表示 */
}

.common-icon-style {
  font-size: 24px;
  color: #777;
  transition: 0.4s ease;
  &-active {
    color: #3687cc;
  }
}

.common-effect-ripple {
  position: relative;
  overflow: hidden;
  text-decoration: none;
  display: inline-block;
  outline: none;
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: radial-gradient(circle, #3687cc99 10%, transparent 10%) no-repeat 50%;
    transform: scale(10, 10);
    opacity: 0;
    transition: transform 0.3s, opacity 1s;
    pointer-events: none;
  }
  &:active::after {
    transform: scale(0, 0);
    transition: 0s;
    opacity: 0.3;
    pointer-events: none;
  }
}

:root {
  --vt-c-white: #ffffff;
  --vt-c-white-soft: #f8f8f8;
  --vt-c-white-mute: #f2f2f2;

  --vt-c-black: #181818;
  --vt-c-black-soft: #222222;
  --vt-c-black-mute: #282828;

  --vt-c-indigo: #2c3e50;

  --vt-c-divider-light-1: rgba(60, 60, 60, 0.29);
  --vt-c-divider-light-2: rgba(60, 60, 60, 0.12);
  --vt-c-divider-dark-1: rgba(84, 84, 84, 0.65);
  --vt-c-divider-dark-2: rgba(84, 84, 84, 0.48);

  --vt-c-text-light-1: var(--vt-c-indigo);
  --vt-c-text-light-2: rgba(60, 60, 60, 0.66);
  --vt-c-text-dark-1: var(--vt-c-white);
  --vt-c-text-dark-2: rgba(235, 235, 235, 0.64);

  --ems-theme: #3687cc;
  --ems-theme-rgb: 54, 135, 204;

  --ems-alert-theme: #fc3838;
  --ems-alert-rgb: 252, 56, 62;
}

/* semantic color variables for this project */
:root {
  --color-background: var(--vt-c-white);
  --color-background-soft: var(--vt-c-white-soft);
  --color-background-mute: var(--vt-c-white-mute);

  --color-border: var(--vt-c-divider-light-2);
  --color-border-hover: var(--vt-c-divider-light-1);

  --color-heading: var(--vt-c-text-light-1);
  --color-text: var(--vt-c-text-light-1);

  --section-gap: 160px;
}

@media (prefers-color-scheme: dark) {
  :root {
    --color-background: var(--vt-c-black);
    --color-background-soft: var(--vt-c-black-soft);
    --color-background-mute: var(--vt-c-black-mute);

    --color-border: var(--vt-c-divider-dark-2);
    --color-border-hover: var(--vt-c-divider-dark-1);

    --color-heading: var(--vt-c-text-dark-1);
    --color-text: var(--vt-c-text-dark-2);
  }
}
