apiVersion: v1
kind: Secret
metadata:
  name: stamp-iot-secret
data:
  frontend-ecr-image:
  backend-ecr-image:
  postgres-db-host:
  postgres-db-port:
  postgres-db-user:
  postgres-db-pass:
  redis-host:
  redis-port: