<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <property name="LOG_PATH_LOCAL" value="./logs"/>
    <property name="LOG_FILE_LOCAL" value="application.log"/>
    <property name="LOG_LEVEL" value="INFO"/>

    <!-- ローカル環境 -->
    <springProfile name="local,unit-test">
        <appender name="FILE" class="ch.qos.logback.core.rolling.RollingFileAppender">
            <file>${LOG_PATH_LOCAL}/${LOG_FILE_LOCAL}</file>
            <rollingPolicy class="ch.qos.logback.core.rolling.TimeBasedRollingPolicy">
                <fileNamePattern>${LOG_PATH_LOCAL}/%d{yyyyMMdd}.log.zip</fileNamePattern>
                <maxHistory>5</maxHistory>
            </rollingPolicy>
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                    </timestamp>

                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="ch.qos.logback.classic.encoder.PatternLayoutEncoder">
                <pattern>%d{yyyy-MM-dd'T'HH:mm:ss.SSSXXX} %-5level [%thread] %logger{36} - %msg%n</pattern>
            </encoder>
        </appender>
        <root level="${LOG_LEVEL}">
            <appender-ref ref="FILE"/>
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

    <!-- 本番環境 -->
    <springProfile name="prod">
        <appender name="STDOUT" class="ch.qos.logback.core.ConsoleAppender">
            <encoder class="net.logstash.logback.encoder.LoggingEventCompositeJsonEncoder">
                <providers>
                    <timestamp>
                        <fieldName>timestamp</fieldName>
                    </timestamp>

                    <logLevel/>
                    <threadName/>
                    <loggerName/>
                    <message/>
                    <stackTrace/>
                </providers>
            </encoder>
        </appender>

        <root level="${LOG_LEVEL}">
            <appender-ref ref="STDOUT"/>
        </root>
    </springProfile>

</configuration>
